@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  background-image: url(./images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-position-x: left;
  overflow-X: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: hsl(225, 20%, 60%);
}
html::-webkit-scrollbar-thumb {
  background: hsl(227, 35%, 25%);
}

body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

header {
  background-image: url(./images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}
header p {
  color: hsl(225, 20%, 60%);
  padding-top: 1rem;
}

main {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 3rem;
  padding: 1rem 2rem;
}
main .top-section .plan {
  margin: 2.5rem 0;
}
main .top-section .plan h2 {
  position: absolute;
  font-size: 1rem;
  text-transform: uppercase;
  color: hsl(225, 20%, 60%);
  letter-spacing: 2px;
  top: 238px;
}
main .top-section .plan p {
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  right: 33px;
  bottom: 320px;
}
main .top-section .plan p .month {
  font-size: 1rem;
  color: hsl(225, 20%, 60%);
}
main .top-section .sliding-bar {
  padding: 2rem 0;
  width: 100%;
  margin-top: 40px;
}
main .top-section .sliding-bar .progress-bar {
  position: relative;
  height: 20px;
}
main .top-section .sliding-bar .progress-bar input[type=range] {
  width: 100%;
}
main .top-section .sliding-bar .progress-bar .range {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  outline: none;
  background: linear-gradient(to right, hsl(174, 77%, 80%) 0%, hsl(174, 77%, 80%) 50%, hsl(224, 65%, 95%) 0%, hsl(224, 65%, 95%) 100%);
}
main .top-section .sliding-bar .progress-bar .range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 35px;
  height: 35px;
  background-image: url(./images/icon-slider.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: hsl(174, 86%, 45%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}
main .top-section .sliding-bar .progress-bar .range::-webkit-slider-thumb:hover {
  box-shadow: 0px 0px 0px hsl(174, 77%, 45%);
}
main .top-section .billing {
  color: hsl(225, 20%, 60%);
  display: flex;
  justify-content: flex-end;
  font-size: 0.7rem;
}
main .top-section .billing .switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 18px;
}
main .top-section .billing .switch p {
  position: absolute;
  left: -107px;
}
main .top-section .billing .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
main .top-section .billing .switch input:checked + .slider {
  background-color: hsl(174, 86%, 45%);
}
main .top-section .billing .switch input:focus + .slider {
  box-shadow: 0 0 1px hsl(174, 86%, 45%);
}
main .top-section .billing .switch input:checked + .slider:before {
  transform: translateX(25px);
  -moz-transform: translateX(25px);
  -o-transform: translateX(25px);
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
}
main .top-section .billing .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(223, 50%, 87%);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
main .top-section .billing .switch .slider:before {
  content: " ";
  position: absolute;
  height: 14px;
  width: 14px;
  left: 3px;
  top: 2px;
  background-color: white;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
main .top-section .billing p {
  padding-left: 10px;
}
main .top-section .billing p span {
  color: hsl(15, 100%, 70%);
  background-color: hsl(14, 92%, 95%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 0.1rem 0.5rem;
  margin-left: 0.5rem;
  font-size: 0.6rem;
  font-weight: bold;
}
main .top-section .billing p .mobile {
  display: none;
}
main .line {
  margin: 2rem 0;
  background-color: hsl(224, 65%, 95%);
  opacity: 20%;
}
main .bottom-section {
  display: flex;
  justify-content: space-between;
}
main .bottom-section .features ul {
  list-style: none;
  color: hsl(225, 20%, 60%);
  font-size: 0.7rem;
}
main .bottom-section .features ul li {
  padding-bottom: 0.5rem;
  position: relative;
  margin-left: 1.5rem;
}
main .bottom-section .features ul li::before {
  position: absolute;
  content: url(./images/icon-check.svg);
  width: 10px;
  height: 10px;
  left: -20px;
}
main .bottom-section button {
  width: 8rem;
  height: 2rem;
  background-color: hsl(227, 35%, 25%);
  color: hsl(224, 65%, 95%);
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-size: 0.7rem;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 768px) {
  body {
    width: 250px;
  }
  header {
    padding: 0;
    height: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header h1 {
    font-size: 1rem;
  }
  header p {
    font-size: 0.6rem;
    padding: 0.5rem 4rem;
  }
  main {
    padding: 1rem;
  }
  main .top-section .plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .top-section .plan h2 {
    position: static;
  }
  main .top-section .plan p {
    position: static;
  }
  main .top-section .sliding-bar {
    padding: 1.5rem 0;
    width: 100%;
    margin-top: 0;
  }
  main .top-section .billing {
    font-size: 0.5rem;
  }
  main .top-section .billing .switch p {
    left: -71px;
    bottom: 6px;
  }
  main .top-section .billing p span {
    display: none;
  }
  main .top-section .billing p .mobile {
    display: inline-block;
  }
  main .bottom-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .bottom-section .features {
    margin-bottom: 10px;
  }
  main .bottom-section .features ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */